<div class="container">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Department</th>
          <th>Experience</th>        
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ajay</td>
          <td>Angular</td>
          <td>4 yrs</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card" style="width: 14rem; margin: 2rem;">
    <img class="card-img-top" src={{vinyl.imageUrl}} alt="Albume photo of {{vinyl.artist}}">
    <div class="card-body">
      <h3 class="card-text">{{vinyl.title}}<br><small>{{vinyl.artist}}</small></h3>
    </div>
    <hr>
  <div class="section" style="text-align: center">
    <h5 class="bold">{{vinyl.releaseDate}}</h5>
  </div>
  </div>